body{
background: rgb(220, 219, 219);
font-family: "Poppins", sans-serif;
}

header{
    text-align: center;
    font-family: "Poppins", sans-serif;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(130, 130, 130);
    text-align: center;
}

footer{
    text-align: center;
    
}

#imagem {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    padding: 20px
    
}
